body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

hr {
  background-color: #f9f7fe;
  height: 1px;
  border: 0;
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
}

input[type="search"] {
  background-color: #f9f7fe;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 20px;
  width: 80%;
}

input[type="submit"] {
  background-color: #885df1;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 20px;
}

main {
  padding: 30px 0;
  display: block;
  margin: auto;
}

main p,
footer {
  color: #a6a8b4;
}

strong {
  color: #f65281;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-temp {
  display: flex;
  justify-content: end;
  flex-direction: row;
}

.current-temp-emoji {
  font-size: 60px;
}

.current-temp-value {
  font-size: 75px;
}

.current-temp-c {
  font-size: 50px;
}
